# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'linux-x64'
  buildConfiguration: 'Release'

# services:
#     db:
#       image: "mcr.microsoft.com/mssql/server"
#       environment:
#         - SA_PASSWORD: "12345678"
#         - ACCEPT_EULA: "Y"
#       ports:
#         - 1433:1433/tcp
        
steps:
- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '3.1.x'

- task: UseDotNet@2
  displayName: 'Use .NET Core SDK 2.1.505 for SonarCloud'
  inputs:
    version: '2.1.505'

- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    command: 'restore'
    restoreSolution: '$(solution)'
    feedsToUse: 'select'

- task: DotNetCoreCLI@2
  inputs:
    command: 'build'
    projects: |
      **/Nhea.csproj
      **/Nhea.CoreCommunicationService.csproj
      **/Nhea.CoreTestConsole.csproj
    arguments: '-c $(buildConfiguration) -r $(buildPlatform)'
  

# - script: dotnet restore
# - script: dotnet build --configuration $(buildConfiguration)
# - script: dotnet test TestProject --configuration $(buildConfiguration)

- task: SonarCloudPrepare@1
  inputs:
    SonarCloud: 'SonarCloud SC'
    organization: 'serkanyazicioglu'
    scannerMode: 'MSBuild'
    projectKey: 'sonar.Nhea'
    projectName: 'Nhea'
    projectVersion: '$(Build.BuildNumber)'

- task: SonarCloudAnalyze@1

- task: SonarCloudPublish@1
  inputs:
    pollingTimeoutSec: '300'

- task: CopyFiles@2
  inputs:
    Contents: '**/DockerfileForPipelines'
    TargetFolder: '$(Build.ArtifactStagingDirectory)/Nhea.CoreCommunicationServiceDockerFile/'

- task: DotNetCoreCLI@2
  displayName: "Publish Web Project"
  inputs:
    command: 'publish'
    publishWebProjects: false
    projects: |
      **/Nhea.CoreCommunicationService.csproj
    arguments: '--configuration $(buildConfiguration) --runtime $(buildPlatform) --output $(Build.ArtifactStagingDirectory) /p:PublishSingleFile=true /p:PublishTrimmed=true'
    zipAfterPublish: false

- task: PublishBuildArtifacts@1
  displayName: "Publish Artifact"
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop-backend-linux-core'
    publishLocation: 'Container'

