<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="nhea" type="Nhea.Configuration.GenericConfigSection, Nhea">
      <section name="data" type="Nhea.Configuration.GenericConfigSection.DataSection.DataConfigSection, Nhea" />
      <section name="communication" type="Nhea.Configuration.GenericConfigSection.CommunicationSection.CommunicationConfigSection, Nhea" />
      <section name="log" type="Nhea.Configuration.GenericConfigSection.LogSection.LogConfigSection, Nhea" />
    </sectionGroup>
  </configSections>
  <nhea>
    <data connectionName="DbConnectionStringName" />
    <communication>
      <smtpSettings>
        <add from="notification@domain.com" host="smtp.domain.com" userName="notification@domain.com" password="PASSWORD" port="587" enableSsl="true" isDefault="true" defaultToRecipients="defaultemail@domain.com" sender="Sender Name" defaultSubject="Default Subject" disableHistoryLogging="true" />
        <add from="no-reply@domain.com" host="smtp.domain.com" userName="no-reply@domain.com" password="PASSWORD" port="587" enableSsl="true" defaultToRecipients="defaultemail@domain.com" sender="Sender Name" defaultSubject="Default Subject" />
        </smtpSettings>
    </communication>
    <log defaultPublishType="Database" autoInform="true" mailList="defaultemail@domain.com" />
  </nhea>
  <connectionStrings>
    <add name="DbConnectionStringName" connectionString="data source=localhost;initial catalog=Nhea;persist security info=True;user id=sa;password=12Aa2sr13cx;MultipleActiveResultSets=True;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>
