<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="nhea" type="Nhea.Configuration.GenericConfigSection, Nhea">
      <section name="application" type="Nhea.Configuration.GenericConfigSection.ApplicationSection.ApplicationConfigSection, Nhea"/>
      <section name="data" type="Nhea.Configuration.GenericConfigSection.DataSection.DataConfigSection, Nhea"/>
      <section name="log" type="Nhea.Configuration.GenericConfigSection.LogSection.LogConfigSection, Nhea"/>
      <section name="web" type="Nhea.Configuration.GenericConfigSection.WebSection.WebConfigSection, Nhea"/>
    </sectionGroup>
  </configSections>

  <nhea>
    <application environmentType="Development"></application>
    <data connectionName="Main.ConnectionString"></data>
    <log defaultPublishType="Database"></log>
    <web enableLocalization="false"></web>
  </nhea>

  <pages>
    <controls>
      <add tagPrefix="nhea" namespace="Nhea.Web.UI.WebControls" assembly="Nhea"/>
    </controls>
  </pages>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
