<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="nhea" type="Nhea.Configuration.GenericConfigSection, Nhea">
      <section name="application" type="Nhea.Configuration.GenericConfigSection.ApplicationSection.ApplicationConfigSection, Nhea" />
      <section name="data" type="Nhea.Configuration.GenericConfigSection.DataSection.DataConfigSection, Nhea" />
      <section name="log" type="Nhea.Configuration.GenericConfigSection.LogSection.LogConfigSection, Nhea" />
      <section name="communication" type="Nhea.Configuration.GenericConfigSection.CommunicationSection.CommunicationConfigSection, Nhea" />
    </sectionGroup>
  </configSections>
  <nhea>
    <application environmentType="Development"></application>
    <data connectionName="DbConnectionStringName" />
    <communication connectionName="DbConnectionStringName">
      <smtpSettings>
        <add from="from@domain.com" host="smtp.domain.com" userName="test@domain.com" password="" port="587" enableSsl="true" isDefault="true" defaultToRecipients="" defaultSubject="[Nhea] System Alert" />
      </smtpSettings>
    </communication>
    <log defaultPublishType="Database" autoInform="true" />
  </nhea>
  <connectionStrings>
    <add name="DbConnectionStringName" connectionString="data source=localhost;initial catalog=Nhea;persist security info=True;user id=sa;password=12Aa2sr13cx;MultipleActiveResultSets=True;" />
  </connectionStrings>
</configuration>
