<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="nhea" type="Nhea.Configuration.GenericConfigSection, Nhea">
      <section name="data" type="Nhea.Configuration.GenericConfigSection.DataSection.DataConfigSection, Nhea" />
      <section name="log" type="Nhea.Configuration.GenericConfigSection.LogSection.LogConfigSection, Nhea" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <nhea>
    <data connectionName="NheaConnection" />
    <log defaultPublishType="Database" autoInform="true" mailList="serkanyazicioglu@garaj.mobi" />
  </nhea>
  <connectionStrings>
    <add name="NheaConnection" connectionString="Data Source=89.19.16.138;DataBase=Nhea;User=devuser;Password=devpassword;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>